.dfoot{
	border: none;
    font-size: 0.86em;
    padding: 4px;
	background-color:transparent;
}
.dfoot .dfoot-text{
	text-shadow:1px 0 5px #fff;
	color:#222;
	font-weight:600;
}
.dfoot a{
	text-decoration:none;
}
.mediabox-webdev-fansblock{ font-weight:600;}